h1{

     background: rgb(red, green, blue); } 

     h1{
    
    background: #AE310C } 

    
     



/*
    RGB:
        RED
        GREEN
        BLUE
 
HEXADECIMAL

DECIMAL (10) => 0,1,2,3,4,5,6,7,8,9
HEXADECIMAL -=> 0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F

*/