* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border: 1px solid red;
    color: blue;
}

input::placeholder{
    color:#FF1396;
}

P{
    color: blue;
}

p::first-letter{ /* primeir letra */
    color: red;
}

p::first-line{
    color: green /* primeira linha*/
}
a{
    color: blue;
}
a::before{
    content: "🚀";
}
a::after{
    content: "😎";
}
p{
    width: 370px;
}