* {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
     margin: 44px 0 144px 76px;
}
.link-header{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
    background:#665AE1;
    border-radius: 21px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600px;
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;
    
}

.logo-image{
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section{
    display: inline-block;
    margin-left: 86px;
}

h1{
    font-weight: 900px;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2{
    font-weight: 500px;
    font-size: 58px;
    line-height: 71px;
    color: #515151;  
}

p{
    font-weight: 400px;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 30px;
    margin-bottom: 35px;

}

.button-main { 
    background:  #ADFF00;
    border-radius: 30px;
    border: none;
    width: 239px;
    height: 64px;
    cursor: pointer;
    filter:drop-shadow(0px 4px 4px);
    font-weight: 900;
    font-size: 28px;
    line-height: 29px;
    color: #000000;
}

@media screen and (max-width: 735px){

    header {
        display: none;
    }

    .logo-image{

        position: static;
        width: 250px;
        height: 250px;
        margin: 50px 50px 0 90px;
        display: block;
     }  
      
     h1{
        font-size: 56px;
        line-height: 52px;
        width: auto;
        margin: 50px 50px 0 30px;
        text-align: center; 
     }

     h2{
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 20px 50px 0 30px;
        text-align: center;     
     }

     p{
        margin: 15px 50px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        
    }
    
    button{
        margin: 0 auto;
        display: block;

}
@media screen and (max-width: 350px){

    .logo-image{
        height: 80%;
    }

}

}